button {
    margin-left: 20px;
    margin-bottom: 20px;
}
.container{
    width: 75%;
    margin: auto;
}
.position {
  position: relative;
  left: 20px;
}

.position1 {
    position: relative;
    right: 475px;
  }
.posts{
    width:100%;
}
h1 {
    text-align: center;
}
ul {
    margin: 0px;
}

li:hover{
    background-color: skyblue;
}
