<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>

<body>
  <div class="container">
    <h1><div class = "position1"><span class="badge badge-dark">Projet Angular</span></div></h1>
    <br>
    <div class="position"><button type="button" (click)='InitList()' class="btn btn-primary">Init Liste</button></div>

    <div [style.display]="flex" class="posts">
      <div *ngIf="VerifDonnee==true">
        <ul *ngFor="let user of users" class=" list-group-flush">
          <li class="list-group-item" (click)="listdetail(user)">
            {{user.name}}
          </li>
        </ul>
      </div>

      <app-list-nom *ngIf="Verifclick==true" user={{detailUser}}></app-list-nom>
    </div>
  </div>
</body>

</html>
