
td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.list {
    border-bottom: none;
    padding-left: 10px;
    padding-top: -100px;
    text-align: left;
}

ul {
    padding-left: 20px;
    list-style-type: none;
}


.gras {
    font-weight: bold;
}
