<table>
    <ul class="list-group list-group-flush">
        <tr>
            <td class="gras">Nom : </td>
            <td class="gras">{{detailUser.name}}</td>
        </tr>
        <tr>
            <td class="gras">Société : </td>
            <td>{{detailUser.company.name}}</td>
        </tr>
        <tr>
            <td class="gras">Website : </td>
            <td>{{detailUser.website}}</td>
        </tr>
        <tr>
            <td class="gras">Tel : </td>
            <td>{{detailUser.phone}}</td>
        </tr>
        <tr>
            <td class="gras">Mail : </td>
            <td>{{detailUser.email}}</td>
        </tr>
        <tr>
            <td class="gras">Address : </td>
            <td>{{detailUser.address.street}}
                <br>{{detailUser.address.suite}}
                <br>{{detailUser.address.zipcode}}
                <br>{{detailUser.address.city}}
            </td>
        </tr>
    </ul>
</table>
